h1 {
    background-color: mediumspringgreen;
}
#past1 {
    color: red;
    background-color: bisque;
}
#past2 {
    color: red;
    background-color: yellowgreen;
}
#past3 {
    color: orange;
    background-color: yellowgreen;
}